* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

/* HEADER */
.header {
    background-color: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    cursor: pointer;
    font-size: 20px;
}

.cart span {
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

/* SEARCH */
#searchBox {
    display: none;
    padding: 6px;
    border-radius: 5px;
    border: none;
}

/* PRODUCTS */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.price {
    color: green;
    font-weight: bold;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
